@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root{

    --red:#e50914;
    --red-light:#ff3b3b;

    --white:#ffffff;
    --text:#d9d9d9;

    --card-bg:rgba(20,20,20,.65);

    --border:rgba(255,255,255,.08);

    --shadow:
    0 0 60px rgba(0,0,0,.5);

}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{

    min-height:100vh;

    background:
    linear-gradient(
        rgba(0, 0, 0, 0.75),
        rgba(0, 0, 0, 0.85)
    ),
    url("../images/pic2.jpg");

    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;

    color:white;

    overflow-x:hidden;
}

.brand{

    display:flex;

    align-items:center;

    gap:25px;

    margin-bottom:40px;

}

.logo{

    width:900px;

    height:auto;

    object-fit:contain;

    filter:
    drop-shadow(0 0 10px rgba(255,0,0,.8));

}



.brand h1{

    font-size:0rem;

    font-weight:5;

    color:var(--gold);

    font-family:'Cinzel', serif;

}

/* ===========================
   MAIN CONTAINER
=========================== */

.container{

    min-height:100vh;

    display:flex;

    justify-content:space-between;
    align-items:center;

    padding:60px 80px;
}

/* ===========================
   LEFT PANEL
=========================== */

.left-panel{
    padding-top:0;

    width:55%;

    margin-right:50px;

    margin-bottom:190px;
}

.logo{

    width:170px;

    margin-bottom:25px;


}

.left-panel h1{

    font-size:6rem;

    font-weight:800;

    color:var(--gold);

    line-height:1;

    margin-bottom:25px;


}

.left-panel h2{

    font-size:2.2rem;

    line-height:1.3;

    font-weight:700;

    margin-bottom:20px;

    color:white;
}

.left-panel p{

    max-width:700px;

    line-height:1.8;

    color:var(--text);

    font-size:1.1rem;

    margin-bottom:35px;
}

/* ===========================
   FEATURE BOX
=========================== */

.feature-box{

    display:grid;

    gap:15px;

    max-width:500px;

    margin-bottom:45px;
}

.feature-box div{

    background:
    rgba(255,255,255,.04);

    border:
    1px solid rgba(255,255,255,.05);

    padding:15px 20px;

    border-radius:14px;

    transition:.3s;
}

.feature-box div:hover{

    transform:
    translateX(8px);

    border-color:
    rgba(229,9,20,.35);

    background:
    rgba(229,9,20,.05);
}

/* ===========================
   STATS
=========================== */

.stats{

    display:flex;

    gap:50px;
}

.stats h3{

    color:var(--gold);

    font-size:3rem;

    font-weight:800;
}

.stats span{

    color:var(--text);

    font-size:1.1rem;
}

/* ===========================
   AUTH PANEL
=========================== */

.auth-panel{

    width:500px;

    height:100%;



    justify-content:center;
    align-items:center;
}

/* ===========================
   AUTH CARD
=========================== */

.auth-card{


    width:100%;

    min-height:1000px;

    min-width: 510px;

    margin-right:0% ;

    padding:40px;

    border-radius:28px;


    background:
    rgba(15,15,15,.75);

    backdrop-filter:blur(18px);

    border:
    1px solid rgba(255,255,255,.08);

    box-shadow:
    var(--shadow);
}

/* ===========================
   TABS
=========================== */

.tabs{

    display:flex;

    background:#111;

    border-radius:16px;

    padding:6px;

    margin-bottom:35px;
}

.tabs button{

    flex:1;

    border:none;

    background:none;

    color:#cfcfcf;

    padding:16px;

    border-radius:12px;

    cursor:pointer;

    font-size:1rem;

    transition:.35s;
}

.tabs button.active{

    background:var(--gold);

    color:rgb(252, 248, 248);

    font-weight:700;

    box-shadow:
    0 0 18px rgba(229,9,20,.4);
}

/* ===========================
   HEADINGS
=========================== */

.auth-card h2{

    text-align:center;

    font-size:2.5rem;

    margin-bottom:30px;
}

/* ===========================
   INPUTS
=========================== */

input,
select{

    width:100%;

    padding:18px;

    margin-bottom:18px;

    border-radius:16px;

    border:
    1px solid rgba(255,255,255,.08);

    background:
    rgba(255,255,255,.03);

    color:white;

    font-size:1rem;

    outline:none;

    transition:.35s;
}

input::placeholder{

    color:#c3bfbf;
}

input:focus,
select:focus{

    border-color:var(--gold);

    box-shadow:
    0 0 18px rgba(229,9,20,.2);

    background:
    rgba(255,255,255,.05);
}

/* ===========================
   BUTTONS
=========================== */

form button{

    width:100%;

    padding:18px;

    border:none;

    border-radius:16px;

    background:
    linear-gradient(
        135deg,
        #de313c,
        #c14343
    );

    color:rgb(252, 247, 247);

    font-size:1.1rem;

    font-weight:700;

    cursor:pointer;

    transition:.35s;
}

form button:hover{

    transform:
    translateY(-3px);

    box-shadow:
    0 0 25px rgba(222, 203, 204, 0.7)
}

/* ===========================
   REGISTER FORM
=========================== */

#register-form{

    display:none;
}

/* ===========================
   RESPONSIVE
=========================== */

@media(max-width:1200px){

    .left-panel h1{
        font-size:5rem;
    }

    .left-panel h2{
        font-size:2.3rem;
    }
}

@media(max-width:1000px){

    .container{

        flex-direction:column;

        gap:50px;

        padding:40px;
    }

    .left-panel{

        width:100%;

        text-align:center;
    }

    .feature-box{

        margin-inline:auto;
    }

    .stats{

        justify-content:center;
    }

    .auth-panel{

        width:100%;
    }
}

@media(max-width:600px){

    .left-panel h1{
        font-size:4rem;
    }

    .left-panel h2{
        font-size:1.8rem;
    }

    .stats{

        flex-direction:column;

        gap:20px;
    }

    .auth-card{

        padding:25px;
    }
}


/* ==========================
   FAVORITE GENRES
========================== */

.genre-title{

    display:block;

    margin-bottom:15px;

    color:#ffffff;

    font-size:1rem;

    font-weight:600;

    letter-spacing:.5px;
}

/* Container */

.genre-container{

    display:flex;

    flex-wrap:wrap;

    gap:12px;

    margin-bottom:25px;
}

/* Individual Genre */

.genre{

    padding:12px 18px;

    border-radius:30px;

    background:
    rgba(255,255,255,.04);

    border:
    1px solid rgba(255,255,255,.08);

    color:#d9d9d9;

    font-size:.95rem;

    font-weight:500;

    cursor:pointer;

    user-select:none;

    transition:
    transform .3s ease,
    background .3s ease,
    border .3s ease,
    box-shadow .3s ease,
    color .3s ease;
}

/* Hover */

.genre:hover{

    transform:translateY(-3px);

    border-color:#e50914;

    color:#ffffff;

    box-shadow:
    0 0 15px rgba(229,9,20,.25);

    background:
    rgba(229,9,20,.08);
}

/* Selected */

.genre.active{

    background:
    linear-gradient(
        135deg,
        #e50914,
        #ff3434
    );

    border-color:#e50914;

    color:white;

    font-weight:600;

    box-shadow:
    0 0 20px rgba(229,9,20,.45);
}

/* Click Effect */

.genre:active{

    transform:scale(.95);
}
